<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <meta charset="UTF-8">
  <title>TEDx Pandri</title>
  <meta name="description" content="Web designer and front-end developer">
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,400,600' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/jquery.fullPage.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css'%}">

      <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <body>
<!-- navbar header -->
<div class="nav-header">
  <div class="nav-brand">
      <h4>TEDx</h4>
  </div>
  <i class="fa fa-bars fa-3x"></i>
    <div class="header-links">
      <ul>
        <li><a href="https://www.townscript.com/e/tedxpandri/booking">BOOK TICKETS</a></li>
        <li><a href="http://tedxpandri.in/">2K16 GLIMPSE</a></li>
        <li data-menuanchor="fifthPage"><a href="#connect">CONTACT</a></li>
        <li data-menuanchor="fourthPage"><a href="#sponsors">SPONSORS</a></li>
        <li data-menuanchor="thirdPage"><a href="#glimpse">GALLERY</a></li>
        <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end navbar header -->

<!-- sidebar slider -->
<div class="nav-screen">
  <i class="fa fa-times fa-3x"></i>
  <div class="nav-container">
    <div class="nav-links">
      <ul id='myMenu'>
        <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
        <li data-menuanchor="thirdPage"><a href="#glimpse">GALLERY</a></li>
        <li data-menuanchor="fourthPage"><a href="#sponsors">SPONSORS</a></li>
        <li data-menuanchor="fifthPage"><a href="#contact">CONTACT</a></li>
        <li><a href="http://tedxpandri.in/">2K16 GLIMPSE</a></li>
        <li><a href="https://www.townscript.com/e/tedxpandri/booking">BOOK TICKETS</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end navbar slider -->

  

<!-- begin fullpage -->

<div id="fullpage">

  <!-- begin section -->

  <div class="section aboutme" data-anchor="aboutme">
    <div class="opaque-bg animated fadeInDown">
      <h1 style="color:white">TEDx<span style="color:#FF6363">&nbsp;</span>PANDRI</h1>
      <p><span id="holder"></span><span class="blinking-cursor">|</span></p>
    </div>
      <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
  </div>
  <!-- end section -->

  <!-- begin section -->

  <div class="section" data-anchor="about">
    <div class="content">
        <br><br>
     <h2 class="wow fadeInDown" data-wow-delay="0.2s">What is TED?</h2>
      <p class="wow fadeInDown" data-wow-delay="0.2s">TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 33 years ago, TED has grown to support its mission with multiple initiatives. The two annual TED Conferences invite the world’s leading thinkers and doers to speak for 18 minutes or less. Many of these talks are then made available, free, at TED.com. TED speakers have included Bill Gates, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe Starck, Ngozi Okonjo-Iweala, Sal Khan, Daniel Kahneman, Elon Musk, Shahrukh Khan and many more. TED’s media initiatives include TED.com, where new TED Talks are posted daily.</p>
        <h2 class="wow fadeInDown" data-wow-delay="0.2s">What is TEDx?</h2>
      <p class="wow fadeInDown" data-wow-delay="0.2s">Faced with its success, TED wanted to allow the broader community of its fans to spread the TED spirit around the world. The TEDx program was created for this: continue to share ideas and our passion for knowledge. "X" means events that are organized independently while meeting a number of criteria defined by EFILE.</p>
        <h3 class="wow fadeInDown">About TEDx, x = independently organized event
</h3>
    <p class="wow fadeInDown" data-wow-delay="0.2s">In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized. </p>
    <h2 class="wow fadeInDown" data-wow-delay="0.2s"><h2 class="wow fadeInDown" data-wow-delay="0.2s">What is TEDx Pandri?</h2></h2>
        <p class="wow fadeInDown" data-wow-delay="0.2s">We are a community of budding entrepreneurs, radical thinkers, doers and those consistently striving for change. This is an ever growing community set out to tap out the immense potential, our Chhattisgarh holds in context to entrepreneurial ventures and initiatives. Our community is multi spectral congregation of artists, businessmans, innovators, freelancers, Startups, technopreneurs hailing out of diverse backgrounds from and around Chhattisgarh.</p>
    </div>
  </div>
  <!-- end section -->
    
<!-- begin section -->

  <div class="section" data-anchor="about1">
    <div class="content">
        <br><br>
     <h3 class="wow fadeInDown" data-wow-delay="0.2s">Think Big, Start Small</h3>
      <p class="wow fadeInDown" data-wow-delay="0.2s">TEDx Community not only talks of change or inspire and motivate individuals but we try to bring change about our own community with an awesome team we have! This is our report for previous year.. When it rained at 4 on the event day, we were in suspicion about what will happen next? But Apart from all odds here are our event stats:</p>
        <ul>
        <li>#50000+ outreach through media platforms</li>
        <li>#3000+ people showed their interest in attending the event </li>
        <li>#1500+ Fan following on Facebook and Twitter</li>
        <li>#1000+ watched online and connected through our website</li>
        <li>#500+ attended live conference</li>
        <li>#35+ innovations and startups approached</li>
        <li>#25+ Mentors and Investors linked</li>
        <li>#12 prominent startups featured</li>
        <li>#7 awesome Speakers & Artists</li>
        <li>#1 Global event in Chattisgarh</li>
        </ul>
              <h4 class="wow fadeInDown" data-wow-delay="0.2s">Qualitative Stats:</h4>
         <ul>
        <li>We promoted Bastar arts, the centuries old tribal art form of Chhattisgarh by giving away mementos made of the art form, thereby promoting the art</li>
        <li>Since the theme was based on “Think BIG start small” it attracted huge number of startups and resulted in formation of strong community of entrepreneurs here </li>
        <li>Some of the startups and our community individuals got featured in international and India’s No.1 on portal on startups “yourstory” giving them exposure</li>
        <li>Organizations like Headstart, Broken scooter and others started their local chapters here (We are not saying its solely because of us, but they saw hope in our ecosystem which we empowered)</li>
        <li>Speakers featured in our conference got invitations from outside thereby promoting the state elsewhere in nation</li>
        <li>Our community now connects to roughly 500+ innovative individuals and organisations who are inspiring and bringing change in our state for betterment</li>
        </ul>
    </div>
  </div>
  <!-- end section -->

  <!-- begin section -->

  <div class="section" data-anchor="glimpse">
    <div class="content-slide">
        <div class="slide">
          <img class="wow fadeInUp" data-wow-delay="0.2s" data-src="{% static 'glimpse/1.jpeg' %}">
        </div>
        <div class="slide">
          <img data-src="{% static 'glimpse/2.jpeg' %}">
        </div>
        <div class="slide">
          <img data-src="{% static 'glimpse/3.jpeg' %}">
        </div>
        <div class="slide">
          <img data-src="{% static 'glimpse/4.jpeg' %}">
        </div>
        <div class="slide">
          <img data-src="{% static 'glimpse/5.jpeg' %}">
        </div>
    </div>
  </div>
  <!-- end section -->
    
<div class="section" data-anchor="sponsors">
        <br><br><br>
    <h4>Our 2K16 Sponsors</h4>
    <div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp1.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp2.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp3.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp4.jpeg' %}">
        </div>
         <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp5.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp6.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp7.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp8.jpeg' %}">
        </div>
         <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp9.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp10.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp11.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp12.jpeg' %}">
        </div>
         <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp13.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp14.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp15.jpeg' %}">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <img class="img-responsive" src="{% static 'sp/sp16.jpeg' %}">
        </div>
    </div>    
    </div>
  </div>
  <!-- end section -->

  <!-- begin section -->

  <div class="section fp-auto-height">
    <div class="footer">
      <p>CONNECT WITH US</p>
        <p>+91-8982222356, 9955453758</p>
      <div class="social-links">
        <span><a href="https://www.linkedin.com/in/bradleyengelhardt" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></span>
        <span><a target="_blank" href="https://twitter.com/bradengelhardt" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></span>
        <span><a href="https://github.com/SquishyAndroid" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
        <span><a href="https://codepen.io/SquishyAndroid/pens/public/"><i class="fa fa-youtube fa-2x"></i></a></span>
      </div>
    </div>
  </div>
  <!-- end section -->

</div>
<!-- end fullpage -->

<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fullPage.min.js' %}"></script>
</body>
  
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
